/* styling to work with the BalanceText jQuery plugin */
.balance-text {
    text-wrap: balance;
    /* Apply (proposed) CSS style */
}

.page-wrapper {
    margin: 0 auto;
    /* text-align: center */
}

#error404 {
    font-family: 'Poppins', sans-serif;
}

#errorOne {
    color: black;
}

#errorTwo {
    color: #24c4f4;
    line-height: 25px;
}

#pageNotFound {
    font-size: 50px;
    padding: 55px 0 0 0;
}

#goBack {
    font-size: 30px;
    height: 50px;
}

.error {
    font-size: 260px;
}

.image-holder {
    background-color: rgb(215, 244, 253);
}

i {
    background-color: white;
}

