.card {
    padding: 2px;
    margin: 5px;
}

.row {
    margin: 5px;
}

* {
    font-family: 'Poppins', sans-serif;
}

.page-header-title {
    color: white;
    font-size: 25px;
    padding: 0 0 0 100px;
}

.card-header {
    font-weight: bold;
    background-color: rgb(193, 235, 248);
}
#event-info,
#charity-info  {
        display: inline-block;
        overflow: auto;        
        height: 700px;
      }

/* .hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}       */