* {
    box-sizing: border-box;
}

.discover__list {
    overflow: hidden;
}

.discover__form {
    padding: 2rem;
    margin-bottom: 1.5rem;
}

input, select, .btn-default {
    margin: 0 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
    background-color: rgb(201, 240, 252);
    color: black;
}